@import "base";
@import "reset";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 250px auto;
  min-height: 100vh;
}
header {
  grid-area: header;
  /*min-height: 18rem;*/
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1{
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 2rem;
}

header p{
    font-size: 2rem;
    letter-spacing: 2rem;
}

span{
  display: inline-block;
  animation: bounce 2s;
}

.picture {
  grid-area: picture;
 padding: 2.5rem;
  /* */background: var(--background);
  border-right: 1px solid var(--border);
}
.picture img{
    border-radius: 50%;
}

aside {
  grid-area: aside;
 /**/ background: var(--background);
 border-right: 1px solid var(--border);
 padding: 2rem;
 min-height: 1000px;
}
aside .block{
    margin-bottom: 5rem;
}
aside .block h3{
    margin-bottom: 0;
    font-size: 1.5rem;
}
aside .block p{
    margin: 0 0 2rem 0;
    font-style: italic;
    font-size: 1.47rem;
}


main {
    grid-area: main;
    padding: 5rem;
}

main h2{
  margin-bottom: 3rem;
}

main p{
  letter-spacing: 0.15rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

/*bases*/

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* variables */

:root{
    --font-family: "Muli", sans-serif;

    --light: #00c3ff;
    --primary:#2071e7;
    --dark:#2980b9;
    --text:#333;
    --background:#fafafa;
    --hint:#999;
    --border:#ddd;
}

@keyframes bounce {
  0%{
    transform: rotate(-45deg);
  }
  10%{
    transform: rotate(-35deg);
  }
  70%{
    transform: rotate(20deg);
  }
  80%{
    transform: rotate(-10deg);
  }
  90%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }
} 


.title{
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
}

.experience{
  display: flex;
}
.title-small{
  text-align: center;
}

.experience .timeline{
  text-align: center;
  color: var(--hint);
  padding-right: 12rem;
  border-right: 1px solid var(--border);
}
.experience .timeline p{
  margin: 0;
}
.experience .content{
  padding: 0 1rem;
}
.experience .content p{
  margin: 0 0 1rem 0;

}
/*mb-5 : margin-bottom :5rem*/

.container-experience{
  margin: 0 0 5rem;
}

.container-compe-tech{
  display: flex;
}
.container-compe-tech .compe-tech .timeline{
  text-align: center;
  color: var(--hint);
  padding-right: 2rem;
  border-right: 1px solid var(--border);
}

.container-compe-tech .compe-tech .timeline p{
  margin: 0;
}
.container-compe-tech .compe-tech .content{
  padding: 0 1rem;
}
.container-compe-tech .compe-tech .content p{
  margin: 0 0 1rem 0;

}
/*mb-5 : margin-bottom :5rem*/

.container-experience{
  margin: 0 0 5rem;
}


footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 3rem;
  background: var(--text);
}

/* Landscape phones anf down */

