@import "base";
@import "reset";

.grid-container{
    display: grid;
    grid: 
        "picture header" auto
        "aside main" 1fr
        / 350px auto;
        min-height: 100vh;
}
header{
    grid-area: header;
    min-height: 30rem;
    background: blue;
}
.picture{
    grid-area: picture;
    background: red;

}

aside{
    grid-area: aside;
    background: var(--background);
    border-right: 1px solid #ddd;
}
main{
    grid-area: main;
    background: purple;
}