:root{
    //  -font-family
    --font-family: "Muli", sans-serif;

    //colors
    --light: #00c3ff;
    --primary:#2071e7;
    --dark:#2980b9;
    --text:#333;
    --background:#fafafa;
    --hint:#999;
}